<!doctype html>
<html lang="en">
<head>
    <!--<link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="text-center">

<header class="col-12">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn ml-sm-1"><i class="fa fa-chevron-left mr-3"></i> Back to website</button>
        </div>
        <div class="col-lg-6">
            <nav>
                <ul class="mb-0">
                    <li><a href="#" class="pr-lg-5">Dashboard</a></li>
                    <li><a href="#" class="">Leaderboard</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="accountDropDownMennu" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-user-circle-o"></i> Account
                </button>
                <div class="dropdown-menu" aria-labelledby="accountDropDownMennu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="pr-3">
    <div class="row text-left">
        <div id="left-column" class="col-lg-7">
            <div class="profile-container text-center">
                <div class="avatar-container">
                    <img class="avatar" src="images/avatar.png" width="223" height="204"/>
                </div>
                <div class="profile-details">
                    <div class="name text-center">
                        Nancy Modjaka Meke
                    </div>
                    <div class="level">Bathroom Beginner</div>
                </div>
                <div class="point-holder text-center">
                    <div class="point-text">
                        Your position:
                    </div>
                    <div class="point-value">227</div>
                    <div class="point-motivation">
                        Earn more points by doing <br/>
                        <u><i>daily activities!</i></u>
                    </div>
                </div>
            </div>
            <img class='tree-style' src="images/tree-wt-grass.png">
        </div>
        <div id="right-column" class="col-lg-5  text-center">
            <h2 class="heading text-center">Hygienica Leaderboard</h2>
            <div class="leaderboard">
                <div class="row winner">
                    <div class="col lead-index">1.</div>
                    <div class="col lead-avatar">
                        <span class="rounded-circle avatar-placeholder"></span>
                    </div>
                    <div class="col lead-name text-left">
                        Nancy Modjaka Meke <br />
                        <span class="level">Bathroom Beginner</span>
                    </div>
                    <div class="col leaderboard-points">22,222
                        <i class="fa fa-star winner-star"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col lead-index">2.</div>
                    <div class="col lead-avatar">
                        <span class="rounded-circle avatar-placeholder"></span>
                    </div>
                    <div class="col lead-name text-left">
                        Nancy Modjaka Meke <br />
                        <span class="level">Bathroom Beginner</span>
                    </div>
                    <div class="col leaderboard-points">22,222</div>
                </div>
                <div class="row">
                    <div class="col lead-index">3.</div>
                    <div class="col lead-avatar">
                        <span class="rounded-circle avatar-placeholder"></span>
                    </div>
                    <div class="col lead-name text-left">
                        Nancy Modjaka Meke <br />
                        <span class="level">Bathroom Beginner</span>
                    </div>
                    <div class="col leaderboard-points">22,222</div>
                </div>
                <div class="row">
                    <div class="col lead-index">4.</div>
                    <div class="col lead-avatar">
                        <span class="rounded-circle avatar-placeholder"></span>
                    </div>
                    <div class="col lead-name text-left">
                        Nancy Modjaka Meke <br />
                        <span class="level">Bathroom Beginner</span>
                    </div>
                    <div class="col leaderboard-points">22,222</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-lg-4">
            <section>
                <div class="basic-education pr-3 mr-5">
                    <img src="images/basic%20education.png">
                </div>
                <div class="unilever ml-3 pl-5 text-right">
                    <img src="images/unilever.png">
                </div>
            </section>
        </div>
        <div class="col-lg-5">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <p class="copy">Copyright 2018 | All rights reserved | Unilever Bright Future | Terms & Conditions | Privacy policy</p>
        </div>
        <div class="col-2 social-btns">
            <a href="#"><span class="rounded-circle"><i class="fa fa-facebook"></i> </span></a>
            <a href="#"><span class="rounded-circle"><i class="fa fa-instagram"></i> </span></a>
            <a href="#"><span class="rounded-circle"><i class="fa fa-twitter"></i> </span></a>
        </div>
    </div>
</footer>

</body>
</html>