@font-face {
    font-family: ChelseaMarketRegular;
    src: url(../fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
    font-family: DINProBold;
    src: url(../fonts/DINPro-Bold_13934.woff);
}

@font-face {
    font-family: DINProRegular;
    src: url(../fonts/DINPro-Regular_13937.woff);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/bg.png") 0 0 no-repeat;
}

header {
    background: #7389F1;
}

@media (max-width: 640px) {
    body {
        background: url("../images/top-bg-mobile.png") 0 0 no-repeat;
    }

    header {
        padding: 20px 0 0 0;
        height: 70px;
    }
}

@media (max-width: 360px) {
    body {
        width: 605px;
    }
}

@media (max-width: 375px) {
    body {
        width: 605px;
    }
}

@media (width: 411px) {
    body {
        width: 610px;
    }
}

@media (width: 414px) {
    body {
        width: 607px;
    }
}

header button.btn {
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

nav {
    display: block;
    position: relative;
    margin-top: 5px;
}

nav ul {
    display: block;
    position: relative;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav ul li {
    display: inline;
    position: relative;
    width: auto;
}

nav ul li a {
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

#left-column {
    background: url("../images/clouds.png") 0 300px no-repeat;
    min-height: 600px;
    padding-bottom: 200px;
}

@media (max-width: 640px) {
    #left-column {
        background: none;
    }
}

.profile-container {
    margin-left: 118px;
    margin-top: 150px;
    width: 552px;
    min-height: 600px;
}

.avatar-container {
    background: url("../images/avatar-bg.png") 0 0 no-repeat;
    height: 432px;
    width: 459px;
}

@media (max-width: 640px) {
    .profile-container {
        margin-left: 60px;
        margin-top: 0;
    }

    .avatar-container {
        background: url("../images/avatar-bg-mobile.png") 0 0 no-repeat;
        width: 431px;
        height: 370px;
    }
}

.avatar {
    margin-top: 100px;
}

@media (max-width: 640px) {
    .avatar {
        margin-left: -52px;
    }
}

.name {
    margin-top: 30px;
    font-family: DINProBold;
    font-weight: lighter;
    font-size: 60px;
    color: #3B38D4;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 71px;
}

.level {
    font-family: DINProRegular;
    font-size: 30px;
    color: #212765;
    letter-spacing: 0;
    text-align: center;
    line-height: 50px;
}

.profile-details {
    width: 400px;
}

.point-holder {
    margin-top: 40px;
    width: 400px;
}

.point-text {
    font-family: DINProRegular;
    font-size: 28px;
    color: #3B38D4;
    letter-spacing: 0;
    text-align: center;
    line-height: 20.84px;

}

.point-value {
    font-family: DINProBold;
    font-size: 110px;
    color: #3B38D4;
    letter-spacing: 0;
    text-align: center;
    line-height: 50px;
    margin-top: 40px;
}

.point-motivation {
    font-family: DINProRegular;
    font-size: 14px;
    color: #1F213C;
    letter-spacing: 0;
    text-align: center;
    line-height: 20.84px;
    margin-top: 40px;
}

#right-column {
    margin-top: 144px;
    width: 870px;
}

#right-column h2.heading {
    font-family: ChelseaMarketRegular;
    font-size: 72px;
    color: #3B38D4;
    letter-spacing: 0;
    text-align: center;
    line-height: 90px;
}

#right-column .leaderboard {
}

#right-column .leaderboard .row {
    padding: 10px 0;
    border-bottom: 1px solid #EE70A7;
}

#right-column .leaderboard .lead-index {
    font-family: DINProBold;
    /*font-size: 30px;*/
    color: #EE70A7;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 10px;
    max-width: 50px;
    text-align: right;
}

#right-column .lead-avatar {
    max-width: 70px;
}

#right-column .lead-avatar span.avatar-placeholder {
    background: #EE70A7;
    width: 45px;
    height: 45px;
    display: inline-block;
    padding-top: 10px;
}

#right-column .leaderboard .lead-name {
    font-family: DINProBold;
    color: #1F213C;
    letter-spacing: 0;
    line-height: 26px;
    /*margin-top: 10px;*/
    max-width: 354px;
}

#right-column .leaderboard .lead-name .level {
    font-family: DINProRegular;
    font-size: 16px;
    color: #1F213C;
    letter-spacing: 0;
    line-height: 8px;
    /*margin-top: 10px;*/
}

#right-column .leaderboard .leaderboard-points {
    font-family: DINProBold;
    /*font-size: 30px;*/
    color: #EE70A7;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 10px;
    max-width: 50px;
}

#right-column .leaderboard .leaderboard-star {
    font-family: DINProBold;
    /*font-size: 30px;*/
    color: #EE70A7;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 10px;
    max-width: 50px;
}

#right-column .leaderboard .row.winner {
    background: #EE70A7;
    border-radius: 40px;
}

#right-column .leaderboard .row.winner .winner-star {
    color: #FFFFFF;
}

#right-column .leaderboard .row.winner .lead-index {
    color: #FFFFFF;
}

#right-column .leaderboard .row.winner .lead-avatar span.avatar-placeholder {
    background: #FFFFFF;
}

#right-column .leaderboard .row.winner .lead-name, #right-column .leaderboard .row.winner .lead-name span, #right-column .leaderboard .row.winner .leaderboard-points {
    color: #FFFFFF;
}

.basic-education {
    text-align: left;
}

.unilever {
    text-align: right;
    border-left: 2px solid #0460A7;

}

.tree-style {
    position: absolute;
    z-index: -1;
    left: 0;
}

footer {
    margin-bottom: -560px;
    margin-top: 262px;
    background: #F4F5F8;
    padding: 20px;
}

footer section {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer nav ul li {
    padding: 5px
}

footer nav ul li a {
    font-family: Helvetica;
    font-size: 14px;
    color: #212669;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
}

footer nav ul li a.active {
    font-weight: bold;
    /*font-style: ;*/
}

footer .copy {
    font-family: Helvetica;
    font-size: 12px;
    color: #212669;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
}

footer .social-btns {
    padding-top: 15px;
}

footer .social-btns a {
    color: #1F213C;
}

footer .social-btns a span {
    background: #EDEEEF;
    width: 45px;
    height: 45px;
    display: inline-block;
    /* padding-left: 10px; */
    padding-top: 10px;
    /* padding-right: 7px; */
    /* padding-bottom: 8px;*/
}

@media ( max-width: 640px) {

    footer {
        margin-bottom: -710px;
        margin-top: 500px;

    }

    footer .social-btns a span {
        padding-left: 0px;
    }
}

@media ( max-width: 500px) {

    footer {
        margin-bottom: -710px;
        margin-top: 500px;

    }

    footer .social-btns a span {
        padding-left: 16px;
    }
}

.load-more {
    background: #3B38D4;
    border-radius: 43.5px;
    font-family: Helvetica;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 23.07px;
    padding: 20px 70px
}